@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Sarabun:wght@200&display=swap');



#content {
    max-width: 1600px;
    margin: 0 auto;
    
}

/*<td class="primary">[#94e5f0]</td>
            <td class="secondary">[#f1d0d6]</td>
            <td class="accent1">[#94bbdb]</td>
            <td class="accent2">[#f8f4c9]</td> */

nav a {
    text-align: center;
    color: black;
    text-decoration: none;
    padding: 35px;
    

}

#hero-msg h1, #hero-msg h4 {
    text-align: center;


}

.button-box {
    text-align: center;

}
main section {
    text-align: center;
    

}

#background {
    height: 725px;
}
   

body {
    background-color: #94bbdb; 
    color: black;
    font-family: Sarabun, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header{
    background-color:  #94e5f0; 
    color: black;
}

nav a:hover{
    background-color: #fcfbfb; 
    color: pink;
}

.book, .join{
    background-color: #f8f4c9; 
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;

}

.book:hover, .join:hover{
    background-color: #fcfbfb; 
    color: black;
}

#background{
    background-color: #94e5f0; 
    color: black;
}

.msg{
    background-color:  #94e5f0; 
    color: black;
    line-height: 1.5em;
    padding: 35px;

}

.msg h2{
    color: black;
    font-family: Bebas Neue, 'Times New Roman', Times;
    

}

.msg p{
    color: black;
    font-size: .8em;
    padding-bottom: 15px;
}

footer {
    background-color:  #94e5f0; 
    color: black;
    padding: 25px 50px;
    margin-top: 200px;
}

footer p{
    font-size: 1.2em;
    
}

footer a {
    color: black;
    text-decoration: none;

}

footer p a:hover {
    text-decoration: underline;
}    
      

footer a:hover{
    color: black;
}

footer .social {

    padding-top: 15px;
}

.home-title{
    color: black;
    font-family: Bebas Neue, sans-serif, Arial;
    font-size: 2em;
    margin-top: 10px;
}

h4{

    color: black;
}

h2 {
    margin: 0;
}

.icon{
    width: 80px;
    background-color: black;
    padding-top: 10px;
}

#hero-img{
    width:100%;
    background-color:pink;
}

#logo_link {

    padding-top: 5px;
}

.rivers-card, .camping-card, .rapids-card{

    margin: 200px 0;
}

.card-img {
    border: 10px solid black;
}

main section img {
    box-sizing: border-box;
}

.mountains {
    margin: 200px 0;
}