
body, h1, h2, p, ul, li {
  margin: 0;
  padding: 0;
}

.main-header {
    background-color: #77BE4E;
    color: #FFFFFF;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-footer {
    background-color: #000000;
    color: #FFFFFF;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo {
  font-size: 22px;
  font-weight: bold;
}

.logo a {
  text-decoration: none;
  color: #fff; 
}


.main-nav ul {
  list-style: none;
}

.main-nav li {
    display: inline;
    margin-left: 24px;
    font-size: 14px;
}

.main-nav a {
  text-decoration: none;
  color: #FFFFFF; 
  transition: color 0.3s ease; 
}

    .main-nav a:hover {
        color: #000000;
    }